{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Commerce V12Finance plugin for Craft CMS 3.x
 *
 * Commerce V12Finance index.twig
 *
 * @author    Kurious Agency
 * @copyright Copyright (c) 2018 Kurious Agency
 * @link      https://kurious.agency
 * @package   CommerceV12finance
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = "V12 Finance Products" %}

{% set content %}
    <div class="tableview">
		<table class="data fullwidth">
			<thead>
			<tr>
				<th scope="col" data-attribute="name">{{ "Name"|t }}</th>
				<th scope="col" data-attribute="months">{{ "Months"|t }}</th>
				<th scope="col" data-attribute="apr">{{ "APR"|t }}</th>
				<th scope="col" data-attribute="enabled">{{ "Enabled"|t }}</th>
				<th scope="col" data-attribute="saleEnabled">{{ "Enabled for Sale Items"|t }}</th>
			</tr>
			</thead>
			<tbody>
			{% for product in craft.V12finance.products.getProductsList() %}
				<tr>
					<td><strong>{{ product.Name }}</strong></td>
					<td>{{ product.Months }}</td>
					<td>{{ product.APR }}</td>
					<td>
						{{ forms.lightswitchField({
							id: product.id,
							on: product.enabled,
							name: 'enabled',
							small: true
						}) }}
					</td>
					<td>
						{{ forms.lightswitchField({
							id: product.id,
							on: product.enabledForSaleItems,
							name: 'enabledForSaleItems',
							small: true
						}) }}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endset %}
{% js %}

    $(document).ready(function() {
      $('.lightswitch').change(function() {

	  	var $input = $(this).find('input[type="hidden"]'),
	  		name = $input.attr('name'),
	  		value = $input.val() ? 1 : 0,
	  		id = $(this).attr('id');
	  		
	  	var data = {id:id};
	  		data[name] = value;

        Craft.postActionRequest('v12Finance/updateProduct', data, function(response) {
          if (response)
          {
            Craft.cp.displayNotice(Craft.t('Finance option updated.'));
          }
        });
      })
    });

{% endjs %}